<div class="container">
<%= image_tag("snowflake3.png", size: "60x60", id: 'snowflake', alt: 'coldsnapp weather tracker logo') %>
<div>
  <span class="roboto font-24">coldsn</span><span class="roboto bold font-24">app</span>
  <%# <span class="roboto font-24">  verify your phone number</span> %>
</div>
<br>
<div>
  <span class="roboto font-24">Thank you for signing up!</span>
</div>
<br>
<br>
<div>
  <span class="roboto font-16">Now we need to prove that you're human. Please verify your phone number with the code we sent you.</span>
</div>
<br>
<%= form_with url: user_verifications_path, local: true do |form| %>
  <div class="form roboto">
    <%= form.text_field :verification_code %>
    <%= form.label :verification_code %>
  </div>
  <div class="form">
    <%= form.submit('Verify', class: 'btn') %>
  </div>
  <% end %>
</div>